<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AC74431E-F30F-49E8-983C-BA25D8357F71</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.W</key>
      <integer>18</integer>
    </dict>
  </dict>
</plist>
