<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C3B5A40A-A045-4DF0-A17C-F5179E2295F4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
