<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>38E66C0D-6D92-445B-9F2C-F4B32559B8FE</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.W</key>
      <integer>27</integer>
    </dict>
  </dict>
</plist>
