<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-70</integer>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.W</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-90</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-90</integer>
      <key>public.kern2.O</key>
      <integer>-17</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.Y</key>
      <integer>-130</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-15</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.H</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.S</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-120</integer>
    </dict>
    <key>public.kern1.eight</key>
    <dict>
      <key>public.kern2.nine</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.quotedblleft</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.seven</key>
    <dict>
      <key>public.kern2.eight</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.six</key>
    <dict>
      <key>public.kern2.seven</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.two</key>
    <dict>
      <key>public.kern2.three</key>
      <integer>-10</integer>
    </dict>
  </dict>
</plist>
