<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7786A122-C3EC-43E0-B566-6DF7C6BDD768</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.V</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
