<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AE13765B-798A-40B5-8255-80F3456FDBCE</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.R</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
