<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-11.43</real>
      <key>public.kern2.S</key>
      <real>-22.86</real>
      <key>public.kern2.T</key>
      <real>-108.585</real>
      <key>public.kern2.U</key>
      <real>-22.86</real>
      <key>public.kern2.V</key>
      <real>-91.44</real>
      <key>public.kern2.W</key>
      <real>-91.44</real>
      <key>public.kern2.Y</key>
      <real>-102.87</real>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-22.86</real>
      <key>public.kern2.T</key>
      <real>-11.43</real>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-11.43</real>
      <key>public.kern2.S</key>
      <real>-11.43</real>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-34.29</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-22.86</real>
      <key>public.kern2.T</key>
      <real>-114.3</real>
      <key>public.kern2.Y</key>
      <real>-148.59</real>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-45.72</real>
      <key>public.kern2.V</key>
      <real>-22.86</real>
      <key>public.kern2.W</key>
      <real>-34.29</real>
      <key>public.kern2.period</key>
      <real>-22.86</real>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-17.145</real>
      <key>public.kern2.V</key>
      <real>-11.43</real>
      <key>public.kern2.Y</key>
      <real>-34.29</real>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-34.29</real>
      <key>public.kern2.Y</key>
      <real>-68.58</real>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.H</key>
      <real>-11.43</real>
      <key>public.kern2.T</key>
      <real>-22.86</real>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-114.3</real>
      <key>public.kern2.O</key>
      <real>-22.86</real>
      <key>public.kern2.period</key>
      <real>-114.3</real>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-22.86</real>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-91.44</real>
      <key>public.kern2.O</key>
      <real>-22.86</real>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-91.44</real>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-34.29</real>
      <key>public.kern2.period</key>
      <real>-137.16</real>
    </dict>
    <key>public.kern1.eight</key>
    <dict>
      <key>public.kern2.nine</key>
      <real>-11.43</real>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.V</key>
      <real>-91.44</real>
    </dict>
    <key>public.kern1.quotedblleft</key>
    <dict>
      <key>public.kern2.Y</key>
      <real>-45.72</real>
    </dict>
    <key>public.kern1.seven</key>
    <dict>
      <key>public.kern2.eight</key>
      <real>-34.29</real>
    </dict>
    <key>public.kern1.six</key>
    <dict>
      <key>public.kern2.seven</key>
      <real>-34.29</real>
    </dict>
    <key>public.kern1.two</key>
    <dict>
      <key>public.kern2.three</key>
      <real>-11.43</real>
    </dict>
  </dict>
</plist>
