<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Feb 18, 23 at 20:51</string>
      <string>glyphs.F_eb 18, 23 at 20_51</string>
    </array>
    <array>
      <string>Feb 23, 23 at 18:09</string>
      <string>glyphs.F_eb 23, 23 at 18_09</string>
    </array>
  </array>
</plist>
