<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D657575E-A7B9-4CCA-9A13-0AF77F1D5F36</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.K</key>
      <integer>17</integer>
    </dict>
  </dict>
</plist>
