<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>09477659-352A-4DD0-962D-87BFE962E6E3</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.W</key>
      <integer>25</integer>
    </dict>
  </dict>
</plist>
