<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7FB62D56-ADA4-4438-90B2-D208D1EAB350</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.M</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
