<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>98A154BF-6AAA-40FF-8C00-771269A9A3B2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.K</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
