<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E5C9B9A5-009D-474E-ACD4-37D1797F47A9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
