<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A5AD0649-8844-4B8A-B7C9-CB4F3F9DD6E8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
