<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1F86786A-E2E1-4B03-8217-A17D87EDEBA0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.B</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
