<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>39436F2B-08C5-4F28-91E0-280DB68DF8FC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.W</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
