<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>01974653-ED83-40A1-9F01-3D0F2D9CB499</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.K</key>
      <integer>13</integer>
    </dict>
  </dict>
</plist>
