<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>63B1CFBB-F299-482A-96ED-5F8E2256760B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.W</key>
      <integer>13</integer>
    </dict>
  </dict>
</plist>
