<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9A1A8522-CE7B-448C-BC2B-26A5F58D240A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
