<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>5A522909-84F4-4D2A-BEF4-13B5AF9F5970</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.W</key>
      <integer>19</integer>
    </dict>
  </dict>
</plist>
