<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>5A8C00C5-9DDA-4681-A07F-D1B4FDE98C38</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.C</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
