<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D238309B-A263-4413-9B13-11ECEF0F62B0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.M</key>
      <integer>22</integer>
    </dict>
  </dict>
</plist>
