<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Sep 12, 22, 19:56</string>
      <string>glyphs.S_ep 12, 22, 19_56</string>
    </array>
    <array>
      <string>Sep 27, 22, 18:53</string>
      <string>glyphs.S_ep 27, 22, 18_53</string>
    </array>
    <array>
      <string>Sep 27, 22, 20:39</string>
      <string>glyphs.S_ep 27, 22, 20_39</string>
    </array>
    <array>
      <string>Sep 27, 22, 21:29</string>
      <string>glyphs.S_ep 27, 22, 21_29</string>
    </array>
    <array>
      <string>Sep 28, 22, 14:25</string>
      <string>glyphs.S_ep 28, 22, 14_25</string>
    </array>
    <array>
      <string>Sep 28, 22, 14:25 #1</string>
      <string>glyphs.S_ep 28, 22, 14_25 #1</string>
    </array>
    <array>
      <string>Oct 1, 22, 11:17</string>
      <string>glyphs.O_ct 1, 22, 11_17</string>
    </array>
    <array>
      <string>test</string>
      <string>glyphs.test</string>
    </array>
    <array>
      <string>Sep 11, 22, 15:10</string>
      <string>glyphs.S_ep 11, 22, 15_10</string>
    </array>
    <array>
      <string>Sep 11, 22, 20:36</string>
      <string>glyphs.S_ep 11, 22, 20_36</string>
    </array>
    <array>
      <string>Sep 11, 22, 20:44</string>
      <string>glyphs.S_ep 11, 22, 20_44</string>
    </array>
    <array>
      <string>Sep 11, 22, 20:46</string>
      <string>glyphs.S_ep 11, 22, 20_46</string>
    </array>
    <array>
      <string>Sep 24, 22, 12:54</string>
      <string>glyphs.S_ep 24, 22, 12_54</string>
    </array>
    <array>
      <string>Sep 28, 22, 18:51</string>
      <string>glyphs.S_ep 28, 22, 18_51</string>
    </array>
    <array>
      <string>Sep 28, 22, 19:42</string>
      <string>glyphs.S_ep 28, 22, 19_42</string>
    </array>
    <array>
      <string>Sep 11, 22, 11:30</string>
      <string>glyphs.S_ep 11, 22, 11_30</string>
    </array>
    <array>
      <string>Oct 1, 22, 11:36</string>
      <string>glyphs.O_ct 1, 22, 11_36</string>
    </array>
    <array>
      <string>Sep 11, 22, 11:53</string>
      <string>glyphs.S_ep 11, 22, 11_53</string>
    </array>
    <array>
      <string>Sep 11, 22, 12:23</string>
      <string>glyphs.S_ep 11, 22, 12_23</string>
    </array>
    <array>
      <string>Sep 11, 22, 13:59</string>
      <string>glyphs.S_ep 11, 22, 13_59</string>
    </array>
    <array>
      <string>Sep 11, 22, 21:12</string>
      <string>glyphs.S_ep 11, 22, 21_12</string>
    </array>
    <array>
      <string>Sep 11, 22, 21:19</string>
      <string>glyphs.S_ep 11, 22, 21_19</string>
    </array>
    <array>
      <string>Oct 4, 22, 21:08</string>
      <string>glyphs.O_ct 4, 22, 21_08</string>
    </array>
    <array>
      <string>Sep 10, 22, 10:46</string>
      <string>glyphs.S_ep 10, 22, 10_46</string>
    </array>
    <array>
      <string>Sep 10, 22, 11:19</string>
      <string>glyphs.S_ep 10, 22, 11_19</string>
    </array>
    <array>
      <string>Sep 10, 22, 11:39</string>
      <string>glyphs.S_ep 10, 22, 11_39</string>
    </array>
  </array>
</plist>
