<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F1C62A36-F9C9-4115-9983-268B4F902838</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.K</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
