<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>59548A7C-96B3-4A28-82FA-1EAEAD6A37F0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.G</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
