<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1DAB239B-0979-48B0-81A8-4CC6A1CEAA4B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.W</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
