<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A8B4BCF0-6897-4899-822F-99049545FD6B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
