<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AC9FE217-1130-40DF-9EA3-DA22A7070803</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
